body { 
    margin: 0; 
    background-color: #111; 
    font-family: Arial;
    height: 2000px;
    width: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(255, 255, 255, 0.808)
}

.Select-control {
    background-color: rgb(0, 0, 0) !important;
    color:rgb(255, 255, 255);
  }
  
.Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
}

.Select-value-label {
    color: rgb(255, 255, 255) !important;
}